*{
  padding: 0;
  margin: 0;
}
body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
:root{
  --primer-color: #027cff;
}
h1{
  color: var(--primer-color);
  text-align: center;
  margin-bottom: 1.8rem;
}
.container{
  border-collapse: collapse;
  font-size: 16px;
  min-width: 90px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  overflow: hidden;
}
.container thead tr{
  background: var(--primer-color);
  color: white;
  text-align: left; 
  font-weight: bold;
}
.container th , .container td{
  padding: 12px 15px;
}
.container tbody tr {
  border-bottom: 1px solid #dddd;
}
.container tbody tr:nth-of-type(even) {
  background: #f3f3f3;
}
.container tbody tr:last-of-type{
 border-bottom: 1px solid var(--primer-color);
}